<!DOCTYPE html>
<html>
    <head>
        <title>Bettle Track</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/metro.min.css"/>
        <link rel="stylesheet" href="../public/css/metro-icons.min.css"/>
        <link rel="stylesheet" href="../public/css/metro-responsive.min.css"/>
        <link rel="stylesheet" href="../public/css/metro-schemes.min.css"/>
        <link rel="stylesheet" href="../public/css/app.css"/>
    </head>
    <body class="bg-steel" ng-app="bettleTrackApp">
        <div id="data-preloader" data-role="preloader" data-type="cycle" data-style="color"></div>
        <div class="app-bar fixed-top navy" ng-include src="'appbar.html'">
        </div>

        <div class="page-content" ng-controller="IssuesController as ctrl">
            <div class="flex-grid no-responsive-future" style="height: 100%;">
                <div class="row" style="height: 100%;max-height: 100%;">
                    <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                        <ul class="sidebar">
                            <li><a href="#">
                                    <span class="title">Search</span>
                                </a></li>
                            <li><a href="" ng-click="ctrl.showIssueInfo(0)">
                                    <span class="title">New Issue</span>
                                </a></li>
                            <li class="bg-steel fg-green"><a href=""><span class="title title-large">Issues by Projects</span></a></li>
                            <li><a href="#">
                                    <span class="title">Project 1</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Project 2</span>
                                </a></li>
                            <li class="active"><a href="#">
                                    <span class="title">Project 3</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Project 4</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">All Projects</span>
                                </a></li>
                            <li class="bg-steel fg-green"><a href=""><span class="title title-large">Most Common</span></a></li>
                            <li><a href="#">
                                    <span class="title">Search for issues</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">My open issues</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Reported by me</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Open issues</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Recently viewed</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Recently added</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Recently resolved</span>
                                </a></li>
                            <li class="bg-steel fg-green"><a href=""><span class="title title-large">Filters</span></a></li>
                            <li><a href="#">
                                    <span class="title">New Filter</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Filter 1</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Filter 2</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Filter 3</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Filter 4</span>
                                </a></li>
                            <li><a href="" ng-click="ctrl.openFiltersDialog()">
                                    <span class="title">All Filters</span>
                                </a></li>
                        </ul>
                    </div>
                    <div class="cell auto-size bg-white padding5" id="cell-content" style="height: 100%;max-height: 100%;overflow-y: auto;">
                        <ul class="breadcrumbs2">
                            <li><a href="#"><span class="icon mif-home"></span></a></li>
                            <li><a href="#">Issues</a></li>
                            <li><a href="#">Search / Filter / Project</a></li>
                            <li><a href="#">Name</a></li>
                        </ul>
                        <div class="example example-less bg-lighterGray">
                            <div class="grid">
                                <div class="row row-nomargin cell-auto-size">
                                    <div class="cell">
                                        <label>Project</label>
                                        <div class="input-control search-select2 full-size">
                                            <select id="project-select" multiple>
                                                <option>Project 1</option>
                                                <option>Project 2</option>
                                                <option>Project 3</option>
                                                <option>Project 4</option>
                                                <option>Project 5</option>
                                                <option>Project 6</option>
                                                <option>Project 7</option>
                                                <option>Project 8</option>
                                                <option>Project 9</option>
                                                <option>Project 10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>Module</label>
                                        <div class="input-control search-select2 full-size">
                                            <select id="module-select" multiple>
                                                <option>Project 1</option>
                                                <option>Project 2</option>
                                                <option>Project 3</option>
                                                <option>Project 4</option>
                                                <option>Project 5</option>
                                                <option>Project 6</option>
                                                <option>Project 7</option>
                                                <option>Project 8</option>
                                                <option>Project 9</option>
                                                <option>Project 10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>Type</label>
                                        <div class="input-control search-select2 full-size">
                                            <select id="type-select" multiple>
                                                <option>Bug</option>
                                                <option>New Feature</option>
                                                <option>Improvement</option>
                                                <option>Task</option>
                                                <option>Verification</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>Categories</label>
                                        <div class="input-control search-select2 full-size">
                                            <select id="category-select" multiple>
                                                <option>category 1</option>
                                                <option>category 2</option>
                                                <option>category 3</option>
                                                <option>category 4</option>
                                                <option>category 5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>Tags</label>
                                        <div class="input-control search-select2 full-size">
                                            <select id="tags-select" multiple>
                                                <option>Tag 1</option>
                                                <option>Tag 2</option>
                                                <option>Tag 3</option>
                                                <option>Tag 4</option>
                                                <option>Tag 5</option>
                                                <option>Tag 6</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-nomargin cell-auto-size">
                                    <div class="cell">
                                        <label>Priority</label>
                                        <div class="input-control search-select2 full-size">
                                            <select id="priority-select" multiple>
                                                <option>Blocker</option>
                                                <option>Critical</option>
                                                <option>Major</option>
                                                <option>Normal</option>
                                                <option>Minor</option>
                                                <option>Trivial</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>State</label>
                                        <div class="input-control search-select2 full-size">
                                            <select id="state-select" multiple>
                                                <option>Open</option>
                                                <option>In Progress</option>
                                                <option>Reopened</option>
                                                <option>Resolved</option>
                                                <option>Closed</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>Resolution</label>
                                        <div class="input-control search-select2 full-size">
                                            <select id="resolution-select" multiple>
                                                <option>Fixed</option>
                                                <option>Won't fix</option>
                                                <option>Duplicate</option>
                                                <option>Incomplete</option>
                                                <option>Cannot reproduce</option>
                                                <option>Done</option>
                                                <option>Won't do</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>Contains Text</label>
                                        <div class="input-control text full-size">
                                            <input type="text" placeholder="Enter any text">
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <label>&nbsp;</label>
                                        <div class="form-actions">
                                            <button type="button" class="button primary">Search</button>
                                            <button type="button" class="button primary">Save</button>
                                            <button type="button" class="button primary">Save as</button>
                                            <button type="button" class="button">More</button>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="example example-less issues">
                            <h3>Issues</h3>
                            <div class="dropdown-button place-right" style="margin-top: -2.5rem;">
                                <button class="button dropdown-toggle">View</button>
                                <ul class="split-content d-menu place-right" data-role="dropdown">
                                    <li><a href="#" ng-click="ctrl.setIssueView('details')">Detail View</a></li>
                                    <li><a href="#" ng-click="ctrl.setIssueView('list')">List view</a></li>
                                </ul>
                            </div>
                            <div id="details-view" ng-show="ctrl.issueview == 'details'" class="row row-nomargin padding5">
                                <div class="cell size-x200 issues-sidebar sidebar2">
                                    <div class="dataTables_paginate dataTables_paginate-full">
                                        <button type="button" class="paginate_button current">Previous</button>
                                        <button type="button" class="paginate_button current" style="float: right;">Next</button>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                    <div class="single-issue">
                                        <div class="title">DMS08517418</div>
                                        <div class="summary">[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    </div>
                                </div>
                                <div class="cell auto-size issues-view padding10">
                                    <div>DMS08517418</div>
                                    <div>[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market</div>
                                    <div class="form-actions">
                                        <button class="button">Edit</button>
                                        <button class="button">Assign</button>
                                        <button class="button">Attach file</button>
                                        <button class="button">Resolve Issue</button>
                                        <button class="button">Close Issue</button>
                                        <button class="button">Reopen Issue</button>
                                    </div>
                                    <div class="accordion" data-role="accordion">
                                        <div class="frame active">
                                            <div class="heading">Issue Details</div>
                                            <div class="content">
                                                <div class="grid">
                                                    <div class="row row-nomargin cell-auto-size">
                                                        <div class="cell auto-size">
                                                            <span>Type: <b>Bug</b></span>
                                                        </div>
                                                        <div class="cell auto-size">
                                                            <span>Priority: <b>Critical</b></span>
                                                        </div>
                                                        <div class="cell auto-size">
                                                            <span>Status: <b>Open</b></span>
                                                        </div>
                                                        <div class="cell auto-size">
                                                            <span>Resolution: <b>Unresolved</b></span>
                                                        </div>
                                                        <div class="cell auto-size">
                                                            <span>Assignee: <b>Unassigned</b></span>
                                                        </div>
                                                        <div class="cell auto-size">
                                                            <span>Reporter: <b>Some One</b></span>
                                                        </div>
                                                    </div>
                                                    <div class="row row-nomargin full-size cell-auto-size">
                                                        <div class="cell auto-size" style="width: 100%;">Categories: 
                                                            <select class="full-size" id="category-issue-select" multiple style="width: 100%;">
                                                                <option selected>Option 1</option>
                                                                <option>Option 2</option>
                                                                <option>Option 3</option>
                                                                <option>Option 4</option>
                                                                <option>Option 5</option>
                                                            </select>
                                                        </div>
                                                        <div class="cell auto-size" style="width: 100%;">Tags: 
                                                            <select class="full-size" id="tags-issue-select" multiple style="width: 100%;">
                                                                <option>Tag 1</option>
                                                                <option>Tag 2</option>
                                                                <option>Tag 3</option>
                                                                <option>Tag 4</option>
                                                                <option>Tag 5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame active">
                                            <div class="heading">Environment</div>
                                            <div class="content">
                                                <textarea id="issue-enviroment" rows="5" cols="100">

                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="frame active">
                                            <div class="heading">Procedure</div>
                                            <div class="content">
                                                <textarea id="issue-procedure" rows="5" cols="100">

                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="frame active">
                                            <div class="heading">Description</div>
                                            <div class="content">
                                                <textarea id="issue-desc" rows="5" cols="100">

                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="frame active">
                                            <div class="heading">Attachments</div>
                                            <div class="content">Frame content</div>
                                        </div>
                                        <div class="frame active">
                                            <div class="heading">More Details</div>
                                            <div class="content">
                                                <div class="grid">
                                                    <div class="row row-nomargin cell-auto-size">
                                                        <div class="cell auto-size">
                                                            <span>Create date: <b>2016-12-12</b></span>
                                                        </div>
                                                        <div class="cell auto-size">
                                                            <span>Update date: <b>2016-12-12</b></span>
                                                        </div>
                                                        <div class="cell auto-size">
                                                            <span>Due date: <b>2016-12-12</b></span>
                                                        </div>
                                                        <div class="cell auto-size">
                                                            <span>Affect version: <b>v1.2.2</b></span>
                                                        </div>
                                                        <div class="cell auto-size">
                                                            <span>Fix version: <b>v1.2.3</b></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame active">
                                            <div class="heading">Activity</div>
                                            <div class="content">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="list-view" ng-show="ctrl.issueview == 'list'" class="row row-nomargin cell-auto-size issues-listview">
                                <div class="cell auto-size">
                                    <div class="dataTables_length">
                                        <div>
                                            <label>Show 
                                                <select>
                                                    <option value="10">10</option>
                                                    <option value="10">20</option>
                                                    <option value="10">50</option>
                                                    <option value="10">100</option>
                                                    <option value="10">200</option>
                                                    <option value="10">500</option>
                                                </select>
                                                issues per page</label>
                                        </div>
                                    </div>
                                    <table class="table striped hovered cell-auto-size border bordered">
                                        <thead>
                                            <tr>
                                                <th>Issue Type</th>
                                                <th>Key</th>
                                                <th>Summary</th>
                                                <th>Assignee</th>
                                                <th>Reporter</th>
                                                <th>Priority</th>
                                                <th>Status</th>
                                                <th>Resolution</th>
                                                <th>Created At</th>
                                                <th>Updated At</th>
                                                <th>Due date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="issue in issues">
                                                <td>Bug</td>
                                                <td>Key {{issue}}</td>
                                                <td>[DoraAnna] jp.kddilabs.smartnetwork.troubleshooting Application crash is occurring multiple times in JP market {{issue}}</td>
                                                <td>Assignee {{issue}}</td>
                                                <td>Reporter {{issue}}</td>
                                                <td>Priority {{issue}}</td>
                                                <td>Status {{issue}}</td>
                                                <td>Resolution {{issue}}</td>
                                                <td>2016-04-15</td>
                                                <td>2016-12-12</td>
                                                <td>2017-12-10</td>
                                                <td class="align-center">
                                                    <button class="button mini-button">Edit</button>
                                                    <button class="button mini-button">Resolve</button>
                                                    <button class="button mini-button">Close</button>
                                                    <button class="button mini-button">Reopen</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="dataTables_paginate">
                                        <button type="button" class="paginate_button current">Previous</button>
                                        <button type="button" class="paginate_button current">Next</button>
                                    </div>
                                    <div class="dataTables_info">Page 1: showing 1 to 10 of 57 entries</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="window" data-role="dialog" id="filters-dialog" data-overlay="true" data-close-button="true" data-overlay-color="modal-overlay">
                <div class="window-caption padding10">
                    <span class="window-caption-title">Filters</span>
                </div>
                <div class="window-content padding20">
                    <div>
                        <div class="dataTables_length">
                            <div>
                                <label>Show 
                                    <select>
                                        <option value="10">10</option>
                                        <option value="10">20</option>
                                        <option value="10">50</option>
                                        <option value="10">100</option>
                                        <option value="10">200</option>
                                        <option value="10">500</option>
                                    </select>
                                    filters per page</label>
                            </div>
                        </div>
                        <table class="table striped hovered cell-auto-size border bordered">
                            <thead>
                                <tr>
                                    <th>Filter code</th>
                                    <th>Filter name</th>
                                    <th>Owner</th>
                                    <th>Shared with</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="issue in issues">
                                    <td>Bug</td>
                                    <td>Key {{issue}}</td>
                                    <td>Yugandhar@bettletrack.com(Yugandhar gangu)</td>
                                    <td>Shared with everyone</td>
                                    <td class="align-center">
                                        <button class="button mini-button">Edit</button>
                                        <button class="button mini-button">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="dataTables_paginate">
                            <button type="button" class="paginate_button current">Previous</button>
                            <button type="button" class="paginate_button current">Next</button>
                        </div>
                        <div class="dataTables_info">Page 1: showing 1 to 10 of 57 entries</div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="window" data-role="dialog" id="issue-info" data-overlay="true" data-close-button="true" data-overlay-color="modal-overlay">
                <div class="window-caption padding10">
                    <span class="window-caption-title">Issue Information</span>
                </div>
                <div class="window-content padding20" style="height: 50rem;overflow-y: auto;">
                    <div class="row cell-auto-size">
                        <div class="cell auto-size">
                            <label>Project</label>
                            <div class="input-control select full-size">
                                <select>
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                    <option>Project 3</option>
                                    <option>Project 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Module</label>
                            <div class="input-control select full-size">
                                <select>
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                    <option>Project 3</option>
                                    <option>Project 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Issue Type</label>
                            <div class="input-control select full-size">
                                <select>
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                    <option>Project 3</option>
                                    <option>Project 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Priority</label>
                            <div class="input-control select full-size">
                                <select>
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                    <option>Project 3</option>
                                    <option>Project 4</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="cell auto-size">
                            <label>Summary</label>
                            <div class="input-control select full-size">
                                <select>
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                    <option>Project 3</option>
                                    <option>Project 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Due date</label>
                            <div class="input-control select full-size">
                                <select>
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                    <option>Project 3</option>
                                    <option>Project 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Categories</label>
                            <div class="input-control select full-size">
                                <select>
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                    <option>Project 3</option>
                                    <option>Project 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Labels</label>
                            <div class="input-control select full-size">
                                <select>
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                    <option>Project 3</option>
                                    <option>Project 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Affect versions</label>
                            <div class="input-control text full-size">
                                <input type="text">
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Fix versions</label>
                            <div class="input-control text full-size">
                                <input type="text">
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Assignee</label>
                            <div class="input-control select full-size">
                                <select>
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                    <option>Project 3</option>
                                    <option>Project 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Environment:</label>
                            <textarea cols="100" rows="5" id="info-environment"></textarea>
                        </div>
                        <div class="cell auto-size">
                            <label>Procedure:</label>
                            <textarea cols="100" rows="5" id="info-procedure"></textarea>
                        </div>
                        <div class="cell auto-size">
                            <label>Description:</label>
                            <textarea cols="100" rows="5" id="info-desc"></textarea>
                        </div>
                        <div class="cell auto-size">
                            <label>Attachments:</label>
                            <div class="input-control file full-size" data-role="input">
                                <input type="file">
                                <button class="button"><span class="mif-folder"></span></button>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <div class="form-actions">
                                <button type="button" class="button primary">Create</button>
                                <button type="button" class="button link">Clear</button>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" data-main="../public/js/app/issues" src="../public/js/require.js"></script>
    </body>
</html>