<!DOCTYPE html>
<html>
    <head>
        <title>Bettle Track</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/metro.min.css"/>
        <link rel="stylesheet" href="../public/css/metro-icons.min.css"/>
        <link rel="stylesheet" href="../public/css/metro-responsive.min.css"/>
        <link rel="stylesheet" href="../public/css/metro-schemes.min.css"/>
        <link rel="stylesheet" href="../public/css/app.css"/>
    </head>
    <body class="bg-steel" ng-app="bettleTrackApp">
        <div class="app-bar fixed-top navy" ng-include src="'appbar.html'">
        </div>

        <div class="page-content" ng-controller="ProjectsController as ctrl">
            <div class="flex-grid no-responsive-future" style="height: 100%;">
                <div class="row" style="height: 100%;max-height: 100%;">
                    <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                        <ul class="sidebar">
                            <li><a href="#">
                                    <span class="title">Project 1</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Project 2</span>
                                </a></li>
                            <li class="active"><a href="#">
                                    <span class="title">Project 3</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Project 4</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Project 5</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Project 6</span>
                                </a></li>
                            <li><a href="#">
                                    <span class="title">Create Project <span class="mif-plus"></span></span>
                                </a></li>
                        </ul>
                    </div>
                    <div class="cell auto-size bg-white" id="cell-content" style="height: 100%;max-height: 100%;overflow-y: auto;">
                        <div class="panel margin10">
                            <div class="heading" style="width: 100%;">
                                <span class="title">Project 1</span>
                            </div>
                            <div class="app-bar">
                                <ul class="app-bar-menu">
                                    <li><a href="" ng-click="ctrl.contentMenuClick('info')">Project Information</a></li>
                                    <li>
                                        <a href="" class="dropdown-toggle">Modules</a>
                                        <ul class="d-menu" data-role="dropdown">
                                            <li><a href="" ng-click="ctrl.contentMenuClick('module')">Windows 10</a></li>
                                            <li><a href="" ng-click="ctrl.contentMenuClick('module')">Spartan</a></li>
                                            <li><a href="" ng-click="ctrl.contentMenuClick('module')">Outlook</a></li>
                                            <li><a href="" ng-click="ctrl.contentMenuClick('module')">Office 2015</a></li>
                                            <li class="divider"></li>
                                            <li><a href="" ng-click="ctrl.contentMenuClick('module')">Add New Module</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="" ng-click="ctrl.contentMenuClick('member')">Members</a></li>
                                    <li><a href="" ng-click="ctrl.contentMenuClick('file')">Files</a></li>
                                    <li><a href="" ng-click="ctrl.contentMenuClick('page')">Pages</a></li>
                                </ul>
                            </div>
                            <div class="content bg-white">
                                <div id="project-info" ng-show="ctrl.content_name == 'info'">
                                    <ul class="breadcrumbs2">
                                        <li><a href="#"><span class="icon mif-home"></span></a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Project 1</a></li>
                                        <li><a href="#">Project Information</a></li>
                                    </ul>
                                    <div class="example">
                                        <div class="cell">
                                            <label>Project Code:</label>
                                            <div class="input-control full-size ">
                                                <input type="text" value="22717748" disabled>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <label>Project Name</label>
                                            <div class="input-control full-size ">
                                                <input type="text" value="my project name" disabled>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <label>Project Type</label>
                                            <div class="input-control full-size ">
                                                <input type="text" value="my project type" disabled>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <label>Project Start Date:</label>
                                            <div class="input-control full-size ">
                                                <input type="text" value="2016-12-01" disabled>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <label>Project End Date:</label>
                                            <div class="input-control full-size ">
                                                <input type="text" value="2017-12-01" disabled>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <label>Short Description:</label>
                                            <textarea id="short_desc" rows="5" cols="100">

                                            </textarea>
                                        </div>
                                        <div class="cell">
                                            <label>Long Description:</label>
                                            <textarea id="long_desc" rows="5" cols="100">

                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div id="project-modules" ng-show="ctrl.content_name == 'module'">
                                    <ul class="breadcrumbs2">
                                        <li><a href="#"><span class="icon mif-home"></span></a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Project 1</a></li>
                                        <li><a href="#">Modules</a></li>
                                        <li><a href="#">Module One</a></li>
                                    </ul>
                                    <div class="example">
                                        <div class="cell">
                                            <label>Module Code:</label>
                                            <div class="input-control full-size ">
                                                <input type="text" value="22717748" disabled>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <label>Module Name</label>
                                            <div class="input-control full-size ">
                                                <input type="text" value="my project name" disabled>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <label>Project Start Date:</label>
                                            <div class="input-control full-size ">
                                                <input type="text" value="2016-12-01" disabled>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <label>Project End Date:</label>
                                            <div class="input-control full-size ">
                                                <input type="text" value="2017-12-01" disabled>
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <label>Short Description</label>
                                            <textarea id="m_short_desc" rows="5" cols="100">

                                            </textarea>
                                        </div>
                                        <div class="cell">
                                            <label>Long Description</label>
                                            <textarea id="m_long_desc" rows="5" cols="100">

                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="project-members" ng-show="ctrl.content_name == 'member'">
                                <ul class="breadcrumbs2">
                                    <li><a href="#"><span class="icon mif-home"></span></a></li>
                                    <li><a href="#">Projects</a></li>
                                    <li><a href="#">Project 1</a></li>
                                    <li><a href="#">Members</a></li>
                                </ul>
                                <div>
                                    <hr class="thin bg-grayLighter">
                                    <button type="button" class="button primary" ng-click="ctrl.showUserInfo(0)"><span class="mif-plus"></span> Add</button>
                                    <button type="button" class="button success"><span class="mif-checkmark"></span> Active</button>
                                    <button type="button" class="button warning"><span class="mif-blocked"></span> Block</button>
                                    <button type="button" class="button alert"><span class="mif-bin"></span> Remove</button>
                                    <hr class="thin bg-grayLighter">
                                    <div class="dataTables_length">
                                        <div>
                                            <label>Show 
                                                <select>
                                                    <option value="10">10</option>
                                                    <option value="10">20</option>
                                                    <option value="10">50</option>
                                                    <option value="10">100</option>
                                                    <option value="10">200</option>
                                                    <option value="10">500</option>
                                                </select>
                                                users per page</label>
                                        </div>
                                    </div>
                                    <table class="table striped hovered cell-auto-size border bordered">
                                        <thead>
                                            <tr>
                                                <th>User Id</th>
                                                <th>Full name</th>
                                                <th>Email Id</th>
                                                <th>User Role</th>
                                                <th>Status</th>
                                                <th>Active/Block</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in users">
                                                <td>Value {{user}}</td>
                                                <td>Value {{user}}</td>
                                                <td>Value {{user}}</td>
                                                <td>Value{{user}}@example.com</td>
                                                <td class="align-center">
                                                    <span class="mif-checkmark fg-green" ng-show="ctrl.isEven(user)"> Active</span>
                                                    <span class="mif-blocked fg-red" ng-show="ctrl.isOdd(user)"> Blocked</span></td>
                                                <td class="align-center">
                                                    <label class="switch">
                                                        <input type="checkbox" ng-checked="ctrl.isEven(user)">
                                                        <span class="check"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="dataTables_paginate">
                                        <button type="button" class="paginate_button current">Previous</button>
                                        <button type="button" class="paginate_button current">Next</button>
                                    </div>
                                    <div class="dataTables_info">Page 1: showing 1 to 10 of 57 entries</div>
                                </div>
                            </div>
                            <div id="project-files" ng-show="ctrl.content_name == 'file'">
                                <ul class="breadcrumbs2">
                                    <li><a href="#"><span class="icon mif-home"></span></a></li>
                                    <li><a href="#">Projects</a></li>
                                    <li><a href="#">Project 1</a></li>
                                    <li><a href="#">Files</a></li>
                                </ul>
                                <div class="example row padding10">
                                    <div class="listview">
                                        <label class="list input-control checkbox small-check">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                            <span class="caption">
                                                <span class="mif-folder fg-amber list-icon"></span>
                                                <span class="list-title"> Folder 1</span>
                                            </span>
                                        </label>
                                        <label class="list input-control checkbox small-check">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                            <span class="caption">
                                                <span class="mif-folder fg-amber list-icon"></span>
                                                <span class="list-title"> Folder 2</span>
                                            </span>
                                        </label>
                                        <label class="list input-control checkbox small-check">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                            <span class="caption">
                                                <span class="mif-folder fg-amber list-icon"></span>
                                                <span class="list-title"> Folder 3</span>
                                            </span>
                                        </label>
                                        <label class="list input-control checkbox small-check">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                            <span class="caption">
                                                <span class="mif-folder fg-amber list-icon"></span>
                                                <span class="list-title"> Folder 1</span>
                                            </span>
                                        </label>
                                        <label class="list input-control checkbox small-check">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                            <span class="caption">
                                                <span class="mif-file-pdf fg-amber list-icon"></span>
                                                <span class="list-title"> Pdffil.pdf</span>
                                            </span>
                                        </label>
                                        <label class="list input-control checkbox small-check">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                            <span class="caption">
                                                <span class="mif-file-binary fg-amber list-icon"></span>
                                                <span class="list-title"> binary.sh</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="project-pages" ng-show="ctrl.content_name == 'page'">
                                <ul class="breadcrumbs2">
                                    <li><a href="#"><span class="icon mif-home"></span></a></li>
                                    <li><a href="#">Projects</a></li>
                                    <li><a href="#">Project 1</a></li>
                                    <li><a href="#">Pages</a></li>
                                </ul>
                                <div class="row" style="width: 100%;">
                                    <div class="accordion" data-role="accordion"  style="width: 100%;">
                                        <div class="frame">
                                            <div class="heading">Frame heading</div>
                                            <div class="content">
                                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.</p>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">Frame heading</div>
                                            <div class="content">
                                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" data-main="../public/js/app/projects" src="../public/js/require.js"></script>
    </body>
</html>
