.tile-area{
    overflow: auto;
}

.treeview ul :hover{
    background-color: white;
}

.treeview li.node-bg-white{
    background-color: white;
}

.app-bar .app-bar-menu > li.active{
    background-color: #ffffff;
    color: #0072c6;
}

.app-bar .app-bar-menu > li.active:hover{
    color: #ffffff;
}

.dataTables_filter select {
    appearance: none;
    margin: 0 .125rem;
    border: 1px solid #d9d9d9;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: .3125rem;
}

.dataTables_paginate-full{
    width: 100%;
}

.select2-hidden-accessible{
    display: none;
}

.select2-selection__rendered{
    padding: 5px 5px;
}

.select2-results__option[aria-selected=true] {
    display: none;
}

.notify-system{
    border: 1px solid #0072c6;
    min-width: 220px;
    width:400px;
}

.notify-system li a{
    font-size: .875rem;
}
.notify-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.window-content{
    max-height: 100%;
    overflow: auto;
}

.button{
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}

.accordion > .frame.active > .heading{
    background-color: #ddd;
    border-color: #ddd;
    color: #000000;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    transition: none;
}

.accordion > .frame > .content{
    border: 1px solid #ddd;
}