<!DOCTYPE html>
<html>
    <head>
        <title>Bettle Track</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/metro.min.css"/>
        <link rel="stylesheet" href="../public/css/metro-icons.min.css"/>
        <link rel="stylesheet" href="../public/css/metro-responsive.min.css"/>
        <link rel="stylesheet" href="../public/css/metro-schemes.min.css"/>
        <link rel="stylesheet" href="../public/css/app.css"/>
    </head>
    <body class="bg-steel" ng-app="bettleTrackApp">
        <div class="app-bar fixed-top navy" ng-include src="'appbar.html'">
        </div>

        <div class="page-content">
            <div class="flex-grid no-responsive-future" style="height: 100%;">
                <div class="row" style="height: 100%;max-height: 100%;">
                    <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                        <ul class="sidebar" ng-controller="SidebarController as ctrl">
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'search']">
                                <a ui-sref="filter">
                                    <span class="title">Search</span>
                                </a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'new_issue']">
                                <a ui-sref="issue({issue_id:0})">
                                    <span class="title">New Issue</span>
                                </a>
                            </li>
                            <li class="bg-steel fg-green">
                                <a href=""><span class="title title-large">Issues by Projects</span></a>
                            </li>
                            <li ng-repeat="project in ctrl.projects" ng-class="{true:'active',false:''}[sidebarCode == 'project' && sidebarId == project.id]">
                                <a ui-sref="filter({type:'p', id:project.id})">
                                    <span class="title">{{project.name}}</span>
                                </a></li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'project' && sidebarId == 0]">
                                <a ui-sref="filter({type:'p', id:0})">
                                    <span class="title">All Projects</span>
                                </a>
                            </li>
                            <li class="bg-steel fg-green">
                                <a href=""><span class="title title-large">Most Common</span></a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'common' && sidebarId == 0]">
                                <a ui-sref="filter({type:'c', id:0})">
                                    <span class="title">Search for issues</span>
                                </a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'common' && sidebarId == 1]">
                                <a ui-sref="filter({type:'c',id:1})">
                                    <span class="title">My open issues</span>
                                </a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'common' && sidebarId == 2]">
                                <a ui-sref="filter({type:'c',id:2})">
                                    <span class="title">Reported by me</span>
                                </a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'common' && sidebarId == 3]">
                                <a ui-sref="filter({type:'c',   id:3})">
                                    <span class="title">Open issues</span>
                                </a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'common' && sidebarId == 4]">
                                <a ui-sref="filter({type:'c',id:4})">
                                    <span class="title">Recently viewed</span>
                                </a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'common' && sidebarId == 5]">
                                <a ui-sref="filter({type:'c',id:5})">
                                    <span class="title">Recently added</span>
                                </a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'common' && sidebarId == 6]">
                                <a ui-sref="filter({type:'c',id:6})">
                                    <span class="title">Recently resolved</span>
                                </a>
                            </li>
                            <li class="bg-steel fg-green">
                                <a href=""><span class="title title-large">Filters</span></a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'filter' && sidebarId == 0]">
                                <a ui-sref="filter({type:'f',id:0})">
                                    <span class="title">New Filter</span>
                                </a>
                            </li>
                            <li ng-repeat="filter in ctrl.filters" ng-class="{true:'active',false:''}[sidebarCode == 'filter' && sidebarId == filter.id]">
                                <a ui-sref="filter({type:'f',id:filter.id})">
                                    <span class="title">{{filter.name}}</span>
                                </a>
                            </li>
                            <li ng-class="{true:'active',false:''}[sidebarCode == 'all_filter']">
                                <a ui-sref="filters">
                                    <span class="title">All Filters</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="cell auto-size bg-white padding10" id="cell-content" style="height: 100%;max-height: 100%;overflow-y: auto;" ui-view="">
                        <!-- content will be here -->
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var baseUrl = '../';
        </script>
        <script type="text/javascript" src="../public/js/lib/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="../public/js/lib/metro.min.js"></script>
        <script type="text/javascript" src="../public/js/lib/select2.full.min.js"></script>
        <script type="text/javascript" src="../public/js/lib/tinymce.min.js"></script>
        <script type="text/javascript" src="../public/js/lib/react.min.js"></script>
        <script type="text/javascript" src="../public/js/lib/react-dom.min.js"></script>
        <script type="text/javascript" src="../public/js/lib/angular.min.js"></script>
        <script type="text/javascript" src="../public/js/lib/angular-resource.min.js"></script>
        <script type="text/javascript" src="../public/js/lib/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="../public/js/main.js"></script>
        <script type="text/javascript" src="../public/js/app/issues.js"></script>
    </body>
</html>