<div class="flex-grid no-responsive-future" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="cell auto-size bg-white padding10">
            <h1 class="text-light">
                <span class="mif-users"> User Groups</span>
                <button type="button" class="button primary place-right" ng-click="ctrl.showUserGroupInfo(0)" ng-show="ctrl.buttons.add"><span class="mif-plus"></span> Create Group</button>
            </h1>
            <hr class="thin bg-grayLighter">
            <form name="userGroupInfoForm" ng-submit="ctrl.submitUserGroupInfo(userGroupInfoForm.$valid)" id="user-group-form" style="display: none;"  novalidate="true">
                <div class="form-layout border-lightGray padding10">
                    <div class="close-btn place-right" style="position: relative;" ng-click="ctrl.hideUserGroupInfo()">&times;</div>
                    <h3>User Group Information</h3>
                    <div class="form-item">
                        <label>Email Id</label>
                        <div class="input-control text full-size" data-role="input">
                            <input type="text" name="email_id" ng-model="ctrl.userGroupInfo.email_id" ng-required="true">
                            <button type="button" class="button helper-button clear"><span class="mif-cross"></span></button>
                        </div>
                        <div class="line validator-hint bg-red fg-white hint2" ng-show="ctrl.userGroupInfoSubmitted && userGroupInfoForm.email_id.$error.required">Please enter user group email id.</div>
                        <div class="line validator-hint bg-red fg-white hint2" ng-show="ctrl.userGroupInfoSubmitted && !userGroupInfoForm.email_id.$error.required && ctrl.user_existed">Email Id is already existed.</div>
                    </div>
                    <div class="form-item">
                        <label>Group name</label>
                        <div class="input-control text full-size" data-role="input">
                            <input type="text" name="fullname" ng-model="ctrl.userGroupInfo.fullname" ng-required="true">
                            <button type="button" class="button helper-button clear"><span class="mif-cross"></span></button>
                        </div>
                        <div class="line validator-hint bg-red fg-white hint2" ng-show="ctrl.userGroupInfoSubmitted && userGroupInfoForm.fullname.$error.required">Please enter group name.</div>
                    </div>
                    <div class="form-item">
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <label class="switch">
                            <input type="checkbox" name="activate_account" ng-model="ctrl.userGroupInfo.activate_account">
                            <span class="check"></span>
                            <span> Activate User Group</span>
                        </label>
                    </div>
                    <div class="form-item">
                        <button type="button" class="button primary" ng-click="ctrl.submitUserGroupInfo(userGroupInfoForm.$valid)">
                            <span ng-show="ctrl.user_btn_create">Create</span>
                            <span ng-show="!ctrl.user_btn_create">Update</span>
                        </button>
                        <button type="button" class="button link">Clear</button>
                    </div>
                </div>
            </form>
            <div class="input-control modern text" id="user-group-search" style="width: 90%;margin-left: 5%;" data-role="text">
                <input type="text">
                <span class="label">Search User Groups</span>                
                <span class="placeholder">Search User Groups</span>
            </div>
            <div class="card-layout card-layout-inline-scroll" id="user-groups-list">
                <!-- User group list will render here -->
            </div>
        </div>
    </div>
</div>