<div class="flex-grid no-responsive-future" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="cell auto-size bg-white">
            <h1 class="text-light margin10">
                Dashboard Name
                <span class="mif-bin place-right fg-red" ng-click="ctrl.deleteDashboard()"></span>
                <span class="mif-pencil place-right fg-blue"ng-click="ctrl.editDashboard()"></span>
            </h1>
            <hr class="thin bg-grayLighter">
            <div class="panel margin10">
                <div class="content" id="dashboard-view">

                </div>
            </div>
        </div>
    </div>
</div>